body {
   
     color: #ffffff;
}

.mablock {
        margin-left:100px;
        margin-top: 50px; 
        height:450px;
        width:950px;
   
    }

.auto {
    
     color: #696969;
     background: #ffffff;
     border: 1px solid #778899;
     border-radius: 10px;
}

.reg {
     color: #696969;
     background: #ffffff;
     margin-top: 10px;
     border: 1px solid #778899;
     border-radius: 10px;
}

.fblock {
    color: #ffffff;
    /*background: #006400;*/
    padding-top: 100px;
    float: left;
     height:450px;
     width:350px;

}

.sblock {
     margin-top: 60px;
     float: right;
     height:400px;
     width:450px;
}

.positionForm {
    position: relative;
    padding-left: 70px;
}
.positionLogin {
    position: relative;
    padding-left: 120px;
}
.modal-body {
    color: #696969;
}