@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>

<img class="text-center" src="@Url.Action("GetImage", "Account", new {productId=4})"/>

<h2 class="text-danger">An error occurred while processing your request.</h2>

