@model PLnew.Models.PersonViewModel
<div>
    <div class="row smbox">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <h5 class="list-group-item-heading">
                Mobil Phone
            </h5>
            <h5 class="list-group-item-heading">
                Email Adress
            </h5>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <h5 class="list-group-item-heading">
                @Model.MNumber
            </h5>
            <h5 class="list-group-item-heading">
                @Model.Email
            </h5>
        </div>
    </div>
</div>


